:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 100% !important;
}

#baseContainer {
    display: flex;
    flex-direction: column;
    height: 90vh; /* This makes sure the body takes the full viewport height */
    padding: 0;
    margin: 0;
}

#configLayout {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 0 0 10px;
    max-width: 800px;
    width: 800px;
    /*center horizontally*/
    margin-left: auto;
    margin-right: auto;
}

#summaryLayout {
    border-top: 1px solid var(--border);
    padding: 10px 0 0;
    max-width: 800px;
    width: 800px;
    /*center horizontally*/
    margin-left: auto;
    margin-right: auto;
}

#startButton {
    background-color: var(--selection);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
}

#cpusLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*center horizontally all the cpu layouts horizontally*/
    justify-content: center;

}

.cpuLayout {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-sizing: border-box; /* Stellt sicher, dass padding und border in der Größe enthalten sind */
}

.cpu-idle {
    background-color: var(--background);
}

.cpu-testing {
    background-color: var(--selection);
}

.cpu-success {
    background-color: #00a000;
}

.cpu-failed {
    background-color: #ff0000;
}