:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 100% !important;
}

#baseContainer {
    display: flex;
    flex-direction: column;
    height: 90vh; /* This makes sure the body takes the full viewport height */
    padding: 0;
    margin: 0;
}

#configLayout {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 0 0 10px;
    max-width: 800px;
    width: 800px;
    /*center horizontally*/
    margin-left: auto;
    margin-right: auto;
}

#summaryLayout {
    height: 100px;
    border-top: 1px solid var(--border);
    padding: 10px 0 0;
    max-width: 800px;
    width: 800px;
    /*center horizontally*/
    margin-left: auto;
    margin-right: auto;
}

#startButton {
    background-color: var(--selection);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
}

#cpusLayout {
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-template-rows: repeat(auto-fill, 260px);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*center horizontally all the cpu layouts horizontally*/
    justify-content: center;
    overflow-y: auto;
}

.cpuLayout {
    width: 250px;
    height: 250px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 10px;

    /*center the content*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cpuLayout input {
    width: 100%;
    text-align: center;
}

.cpuLayout progress {
    width: 100%;
    border-radius: 0;
    margin-top: auto; /* This pushes the progress bar to the bottom */
}

.cpuLayout progress[value] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cpuLayout progress[value]::-webkit-progress-bar {
    background-color: var(--background);
}

.cpuLayout progress[value]::-webkit-progress-value {
    background-color: var(--selection);
}

.coreId {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid var(--border);
}

.buttonContainer {
    display: flex;
    gap: 5px; /* Optional: Abstand zwischen den Buttons */
}

.cpu-idle {
    border-color: var(--background);
}

.cpu-testing {
    border-color: var(--selection);
    animation: shiny-border 2s infinite;
}

.cpu-success {
    border-color: #00a000;
}

.cpu-failed {
    border-color: #ff0000;
}

@keyframes shiny-border {
    0% {
        box-shadow: 0 0 0px var(--selection);
    }
    50% {
        box-shadow: 0 0 10px var(--selection);
    }
    100% {
        box-shadow: 0 0 0px var(--selection);
    }
}

.methodStatus {
    justify-content: space-between;
    border-bottom: 5px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.methodStatusLayout {
    margin-top: 15px;
}

/* Hide the up and down buttons on number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}